body {
    padding-top: 56px;
    font-family: 'Roboto', sans-serif;
    color: #17161C;
  }
  h1{
    font-size: 52px;
    margin-bottom: 20px;
    font-style: normal;
    color: #17161C;
  }
  h2{
      font-weight: lighter;
  }
  h3{
    font-weight: lighter;
    color: #17161C;
  }
  
  .carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .portfolio-item {
    margin-bottom: 30px;
  }
  
  .marge-top{
    margin-top: 15%;
  }
  .marge-top-1{
    margin-bottom: 100px;
  }
  .form-login {
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#17161C;
  }

  .redondeado{
    border-radius: 20px;
  }

  .form-control{
    border-radius: 15px;
    margin-bottom: 25px;
    border: 1.5px solid #ced4da;
  }
  .form-login{
    padding-left: 25%;
    padding-right: 25%;
  }
    .form-control::placeholder { 
  color:#CFCFCF; 
    }
    .btn{
  color: white;
  background-color: #2255FF;
  width:100%;
  border-radius: 30px;
    }

  .btn:hover{
  background-color: #002CBF;
  color: white;
  }

  .label-1{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #17161C;
  }
  .inicio-1{
    width: 100%;
    margin-top: -10%;
    height: auto;
}

  @media (max-width: 700px) {
    .inicio-1{
        width: 100%;
        margin-top: 20px;
        height: auto;
    }
}
